// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tablehead_categories{
  background-color: #0077c2;
  color: white;
}
a:hover{
background-color:white!important;
}